<div class="deznav-scroll">
  <ul class="metismenu" id="menu">
    <% if (user.role === 'ADMIN') { %>
    <li>
      <a class="ai-icon" href="/Dashboard">
        <i class="flaticon-381-networking"></i>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <% } %>

    <li>
      <a class="ai-icon" href="/Order" aria-expanded="false">
        <i class="flaticon-381-television"></i>
        <span class="nav-text">Orders</span>
      </a>
    </li>

    <% if (user.role === 'ADMIN') { %>
    <li>
      <a
        class="has-arrow ai-icon"
        href="javascript:void()"
        aria-expanded="false"
      >
        <i class="flaticon-381-notepad"></i>
        <span class="nav-text">Forms</span>
      </a>
      <ul aria-expanded="false">
        <li>
          <a href="/form-meal-plans">Input Meals Plan</a>
        </li>
      </ul>
    </li>
    <% } %>
</ul>
</div>

